/* BackButton.module.css */
.backButton {
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #007bff;
  transition: color 0.3s;
}

.backButton:hover {
  color: #0056b3;
}
